.contact-wrapper{
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 7%;
    border: solid green 2px;
}

.contact-wrapper input{
    margin-bottom: 5%;
    padding: 3%;
    font-size: 1rem;
}
.contact-wrapper textarea{
    margin-bottom: 5%;
    padding: 3%;
    font-size: 1rem;
}

.contact-wrapper label{
    margin-bottom: 3%;
    margin-top: 3%;
}

.contact-wrapper button{
    margin-top: 10%;
    height: fit-content;
    font-size: 1rem;
    padding: 3%;
    border: black;
    background-color: greenyellow;

}
.connection-links-wrapper{

    display: flex;
    justify-content: center;
    text-align: center;
}
