@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
:root{
    --navBarBackground: white;
    --textColor: rgb(5, 19, 103);
    ---heading-font-size: 2rem;
    --content-font-size: 1.25rem;
    --heading-font-family: "Share Tech Mono', monospace";   
}

*, *::before , *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.content{
    height: 200vh;
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

/*navigation styles*/

.titles{
    font-style: bold;
    font-weight: 1000;
    font-family: 'Share Tech Mono', monospace;
    margin: 2%;
    padding: 2%;
    font-size: var(---heading-font-size);
    text-align: center;
}

header{
    background: var(--navBarBackground);
    position: relative;
    text-align: center;
    z-index: 999;
    width: 100%;
}


.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center ;
}

.nav-toggle-label span , 
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background:black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: relative;
}

.nav-toggle-label span::before{
    bottom: 12px ;
}

.nav-toggle-label span::after{
    top: 10px;
}
nav{
    position: absolute;
    text-align: left;
    top:120%;
    left: 0;
    background: var(--background);
    width:100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: var(--textColor);
    text-decoration: none;
    font-size: 1.0rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav button{

}

nav a:hover{
    color: #000;
}

/* toggling for hamburger menu without using javascript*/ 
.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

@media screen and (min-width: 1200px) {

    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .logo{
        text-align: start;
        margin-left: 10%;
    }

    nav {
        all: unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 10%;
    }

    nav ul{
        display: flex;
    
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a{
        opacity: 1;
    }
    
}



