.projects{
    border: solid 5px blue;
}

.projects h1{
    text-align: center;
    font-family: var(--heading-font-family);
    font-size: var(---heading-font-size);
    padding: 5%;
}

.projects-wrapper{

    border: solid 5px red;
}

.project{
    border: solid 5px green;
    width: fit-content;
    display: grid;
    height: 500px;

}

.project img{
    height: 20vh;
    width: 30vw;
}
